{% extends 'base.html' %}
{% block content %}
{% load static %}
    <h1 style="text-align: center;">FORM ITEM</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th><label >Item Code:</label></th>
                <td>{{form.code}}</td>
            </tr>
            <tr>
                <th><label >Item Name:</label></th>
                <td>{{form.name}}</td>
            </tr>
        </table>
        <input class="btn btn-outline-primary" type="submit" value="Create">
    </form>
{% endblock %}