{% extends 'base.html' %}
{% block content %}
{% load static %}
    <h1 style="text-align: center;">Customer Registration Form</h1>
    <form>
        <table>
            <tr>
                <th><label for="email">Email:</label></th>
                <td><input name="email" type="email"></td>
            </tr>
            <tr>
                <th><label for="password">Password:</label></th>
                <td><input name="password" type="password"></td>
            </tr>
            <tr>
                <th><label for="fullname">Full Name:</label></th>
                <td><input name="fullname" type="text"></td>
            </tr>
            <tr>
                <th><label for="phone">Phone Number:</label></th>
                <td><input name="phone" type="number"></td>
            </tr>
            <tr>
                <th><label for="gender">Gender:</label></th>
                <td><input name="gender" type="text"></td>
            </tr>
            <tr>
                <th><label for="birthdate">Birthdate:</label></th>
                <td><input name="birthdate" type="text"></td>
            </tr>
            <tr>
                <th><label for="address">Address:</label></th>
                <td><input name="address" type="text"></td>
            </tr>
        </table>
        <input type="submit" value="submit">
    </form>
{% endblock %}