<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table,td,th{
            border: 1px solid black;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laundry List</title>
</head>
<body>
    <h1 style="text-align: center;">DELIVERY COST</h1>
    <table style="width: 100%;">
        <tr>
            <th>Code</th>
            <th>Min Distance</th>
            <th>Max Distance</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>S</td>
            <td>0</td>
            <td>3</td>
            <td>5000</td>
            <td>
                <a href="{% url 'taskIjo:updateDeliveryCost' %}"><button type="button">Update</button></a><br>
                <button type="button">Delete</button>
            </td>
        </tr>
        <tr>
            <td>L</td>
            <td>3</td>
            <td>10</td>
            <td>10000</td>
            <td>
                <a href="{% url 'taskIjo:updateDeliveryCost' %}"><button type="button">Update</button></a><br>
                <button type="button">Delete</button>
            </td>
        </tr>
    </table>
</body>
</html>