{% extends 'base.html' %}
{% block content %}
{% load static %}
    <h1 style="text-align: center;">ITEM</h1>
    <table style="width: 100%;">
        <tr>
            <th>Item Code</th>
            <th>Item name</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{row.code}}</td>
            <td>{{row.name}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}