{% extends 'base.html' %}
{% block content %}
{% load static %}
    <h1 style="text-align: center;">LAUNDRY LIST</h1>
    <table style="width: 100%;">
        <tr>
            <th>Email</th>
            <th>Date Transaksi</th>
            <th>No Urut</th>
            <th>Jumlah Item</th>
            <th>Item Code</th>
            <th>Action</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{row.email}}</td>
            <td>{{row.transaction_date}}</td>
            <td>{{row.serial_no}}</td>
            <td>{{row.item_amount}}</td>
            <td>{{row.item_code}}</td>
            <td>
                <form action="{% url 'taskIjo:updatelaundrylist' %}" method="get">
                    <input type="hidden" id="email" name="email" value="{{ row.email }}">
                    <input type="hidden" id="transaction_date" name="transaction_date" value="{{ row.transaction_date }}">
                    <input type="hidden" id="serial_no" name="serial_no" value="{{ row.serial_no }}">
                    <input type="submit" class="btn btn-success" value="Update">
                </form>
                <form action="{%  url 'taskIjo:deletelaundrylist' %}" method="get">
                    <input type="hidden" id="email" name="email" value="{{ row.email }}">
                    <input type="hidden" id="transaction_date" name="transaction_date" value="{{ row.transaction_date }}">
                    <input type="hidden" id="serial_no" name="serial_no" value="{{ row.serial_no }}">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
                <!-- <a href="{% url 'taskIjo:updatelaundrylist' %}"><button type="button">Update</button></a><br>
                <button type="button">Delete</button> -->
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}