{% extends 'base.html' %}
{% block content %}
{% load static %}
    <h1 style="text-align: center;">LAUNDRY LIST FORM</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th><label >Item</label></th>
                <td>{{form.email}}</td>
            </tr>
            <tr>
                <th><label >Item Amount:</label></th>
                <td>{{form.item_amount}}</td>
            </tr>
            <tr>
                <th><label >Item Code:</label></th>
                <td>{{form.item_code}}</td>
            </tr>
        </table>
        <input class="btn btn-outline-primary" type="submit" value="Create">
    </form>
{%endblock%}