{% extends 'base.html' %}
{% block content %}
{% load static %}
    <h1 style="text-align: center;">LOGIN</h1>
    <table>
        <tr>
            <th><label for="email">Email:</label></th>
            <td><input name="email" type="email"></td>
        </tr>
        <tr>
            <th><label for="password">Password:</label></th>
            <td><input name="password" type="password"></td>
        </tr>
    </table>
    <input type="submit" value="submit">
{% endblock %}