<h3>Register</h3>

<form method="POST" actions="">
    {% csrf_token %}
    <table>
    {% for field in form %}
        <tr>
        <td>{{field.label}}</td>
        <td>{{field}}</td>
        </tr>
    {% endfor %}
    </table>
    <input type="submit" name="save">
</form>